.terminal {
    color: white;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo preto com transparência */
    font-family: 'Courier New', monospace;
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    width: 90%; /* Torna responsivo */
    max-width: 600px; /* Limita a largura máxima */
    margin: auto;
    white-space: pre-wrap;
}

#terminal-output {
    font-size: 1rem; /* Define um tamanho de fonte responsivo */
    line-height: 1.5; /* Melhor espaçamento entre linhas */
}

body {
    background-color: rgb(0, 128, 128); /* Azul-petróleo */
    color: white;
    font-family: Arial, sans-serif;
    padding: 50px;
}
